@charset "utf-8";

#main-seat {
  > .seatform {
    left: 50%;
    transform: translate(-50%, 0);
    width: 62.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    .content-bar {
      text-align: center;
      color: rgb(51, 51, 51);
      font-weight: 400;
      height: 4.625rem;
      width: 100%;
      padding: 0 0.09rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;


      > .content-bar-timetable, .content-bar-retry{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 1.875rem;
        width: 7rem;
        color: rgb(51, 51, 51);
        background-color: #f2f0e5;
        border: 1px solid rgb(51, 51, 51);
        border-radius: 0.3rem;
        font-weight: 600;
        font-size: 0.75rem;

        > .image{
          height: 1.2rem;
        }

      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgb(51, 51, 51);
      color: #d4d3c9;
      font-weight: 400;
      height: 2rem;
      width: 100%;
      padding: 0 0.09rem;

    }

    .screen-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 0.1rem solid #d4d3c9;
      background-color: #f2f0e5;
      height: auto;
      &.screen-down{
        height: 24.0625rem;

      }


      .infor-container {
        margin: 1rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;

        &.title-right-box{
          gap: 1rem;
        }

        &#nopContainer {
          border-right: 1px solid #d4d3c9;
        }

        #maximum_people {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          font-size: 0.6875rem;
          padding-right: 1rem;
          box-sizing: border-box;
          color: rgb(255, 0, 0);
        }

        .title-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 0.2rem;
          box-sizing: border-box;

          > .text{
            width: auto;
            height: 1rem;
            font-size: 0.75rem;
            padding: 0 0.5rem;

            &.center{
              border-right: 1px solid #d4d3c9 ;
              border-left: 1px solid #d4d3c9;
            }
          }

          > .big-text{
            font-weight: 700;
            font-size: 1.28rem;
          }

          .title {
            width: 3rem;
          }

          .adult {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;
            gap: 0.3rem;
            box-sizing: border-box;

            .selected {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border: 1px solid #d6d3ce;
              width: 1.35rem;
              height: 1.35rem;
              font-size: 0.875rem;
              font-weight: 700;
              cursor: pointer;

              > .radio {
                display: none;

                & .-adult {
                  color: rgb(51, 51, 51);
                  text-decoration: none;
                  cursor: pointer;
                }
              }
            }

            > .selected:has(.radio:checked) {
              background-color: rgb(51, 51, 51);
              color: rgb(255, 255, 255);
            }
          }
        }

        .text {
          padding: 0 0.3rem;
        }

        .cinema {
          border-right: 0.025rem solid #d4d3c9;
          border-left: 0.025rem solid #d4d3c9;
        }

        .seat-color {
          color: red;
        }
      }


      > .seat-container {
        width: 55rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;

        > .screen-bar {
          margin-top: 1rem;
          margin-bottom: 4rem;
          width: 40rem;
          background-color: #d4d3c9;
          text-align: center;
        }

        > .screen {
          th, td {
            text-align: center;
            border: none;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 0.875rem;
            font-weight: 700;
            margin-bottom: 4rem;

            &.seat{
              cursor: pointer;
              background-color: #d4d3c9;

            }

            &.selected-seat {
              background-color: red;
            }

          }
        }

      }

      > .plus {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 5rem;

        > span {
          gap: 0.1rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          > .icon {
            display: flex;
            width: 1rem;
            height: 1rem;

            &.icon1 {
              background-color: red;
            }

            &.icon2 {
              background-color: #d4d3c9;

            }
          }
        }
      }
    }
  }

  > .control-bar {
    width: 100vw;
    background-color: rgb(29, 29, 28);
    height: 6.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    > .space {
      max-width: 62.5rem;
      width: 62.5rem;
      height: 100%;
      background-color: rgb(29, 29, 28);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      > .icon-box {
        height: 5rem;
        width: 5rem;
        background-color: rgb(51, 51, 51);
        border: 0.1rem solid #d4d3c9;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;

        >.arrows{
          box-sizing: border-box;
          height: 3rem;
          width: 3rem;
          & span{
          font-weight: 700;
          }

        }
      }
      > div{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.2rem;
        padding: 0.5rem 0;
        height: 100%;
        font-size: 0.75rem;
        font-weight: 400;
        text-align: left;
        &.title{
          width: 7.5rem;
          border-right: 0.1rem solid rgb(51, 51, 51);
        }
        &.theater-title{
          width: 2.5rem;
        }
        &.theater-content{
          width: 9.125rem;
          border-right: 0.1rem solid rgb(51, 51, 51);
        }
        &.seat-title{
          width: 3rem;
        }
        &.seat-content{
          width: 9.125rem;
          border-right: 0.1rem solid rgb(51, 51, 51);
        }
        &.price-title{
          width: 2.5rem;
        }
        &.price-content{
          width: 9.125rem;
        }

        > span{
          text-decoration: none;
          text-overflow: ellipsis;
          color: #cccccc;
          height: 1.5rem;
          text-decoration-color: rgb(204, 204, 204);
          font-weight : 700;
          font-size: 0.75rem;
          &.poster{
            height: 6.5rem;
            width: 4.625rem;
            display: flex;
            background-color: white;
          }
        }
      }
    }
  }
}