<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>예매</title>
</head>
<body>
<main>
    <table>
        <thead>
        <tr>
            <th>영화</th>
            <th>극장</th>
            <th>날짜</th>
            <th>시간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
    </table>
</main>
</body>
</html>